<!DOCTYPE html>
<html>
<head>
    <title>首页，我的beego博客</title>
    <link rel="shortcut icon" href="/static/img/faviceon.png">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <style type="text/css">
        body {
            padding-top: 70px;
        }
    </style>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top">
    <!-- We use the fluid option here to avoid overriding the fixed width of a normal container within the narrow content columns. -->
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">我的beego博客</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">首页</a></li>
                <li><a href="/category">分类</a></li>
                <li><a href="/topic">文章</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</div>
<div class = "container">
    <div class="page-header">
        <h1>我的第一篇博客</h1>
        <h6 class="text-muted">文章发表于2015年12月16日，共有100次浏览，200次评论</h6>
        <p>
            打家好，这是我的第一篇博客
        </p>
    </div>
</div>
</body>
</html>