<!DOCTYPE html>
<html lang="en">
<head>
    <title>登录</title>
    {{template "headSet"}}
</head>
<body>
{{template "headMenu" .}}
<div class="container" style="width: 500px">
    <form class="form-horizontal" href="/login" method="post">
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">UserName</label>
            <div class="col-sm-10">
                <input type="text" name="username" class="form-control" id="inputEmail3" placeholder="UserName">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                <input type="password" name="password" class="form-control" id="inputPassword3" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Remember me
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Sign in</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>